<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
</head>

<body>

    <h1> this is the home page 1 * 2 </h1>
    <!-- .toUpperCase() -->
    <h4><%= ["Adnan" ,"Nouman" , "Burhan"][1] %></h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas omnis nihil nobis aliquam recusandae nisi eum,
        maiores quos amet id illo fuga ratione ea voluptas alias asperiores odio laboriosam accusantium!</p>

        <button> click me </button>
</body>

</html>